.orderTitle{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #FF7B7B;
  font-family: 'Heebo', sans-serif;
  }
 .tb tr:hover{
      color:white;
      background-color:skyblue;
  }