.ordername{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #552c6c;
  font-family:  'Great Vibes', cursive;
  }
  .tb{
    color: #9668b0;
  }
 
  .statusOrder{
    color:#552c6c;
    font-weight: 600;
  }
  .statusOrder:hover{
    font-size:20px ;
    color: #9668b0;
  }