.adminCus{
    text-align:justify;
    font-family: 'PT Sans Narrow', Tahoma, sans-serif;
    margin-bottom: 5%;
    color: #9668b0;
 
}
.tblHead{
    font-family: 'Permanent Marker', cursive;
    font-size: 17px;
}
.tbl-data{
    font-family: 'Langar', cursive;
}
@media screen and (max-width:599px){
    .adminCus{
     font-size: 30px;
     margin-left: 20%;
    }
  }
  @media screen and (min-width:600px){
   .adminCus{
   font-size: 50px;
   }
 } 