.adminCus{
    text-align:justify;
    font-family: 'Kanit', sans-serif,Regular 400;
    margin-bottom: 5%;
 
}
.tblHead{
    font-family: 'Permanent Marker', cursive;
    font-size: 17px;
}
.tbl-data{
    font-family: 'Langar', cursive;
}
