.design4{
    height:10.5cm ;
    width: 22cm;
    background-color: purple;
    border-left-style: solid;
    border-left-color: black;
    border-left-width: 120px;
}
.dgpic6{
    margin-left:580px;
    margin-top: 150px;
}