.contForm{
    width: 30px;
    height: 30px;
    
   
}
.condetails{
    margin-right: 233px;
}
.contain{
    width: 500px;
    height: 530px;
    margin-top: 30px;
    background-color: #9668b0;
    padding: 20px;
    border:12px solid #d8d8d8;
}
.icon{
    margin-left: 30%;
    margin-bottom: 10px;
   
}
.gap{
    margin-top: 12px;
}
.det{
    font-size: 18px;
    font-weight:600;
    font-family: 'Permanent Marker', cursive;
}
