.sidebar{
    background-color: black;
    width: 100%;
    height:450px;
  }
  #hcust{
    color: white;
   font-weight:600;
   font-size:20px;
   margin-top:35px;
   font-family: 'Bungee', cursive;
  }
  #sbar{
    list-style: none;
    font-size: 20px;
  font-weight:600;
 margin-top: 28px;
 font-family: 'Noto Sans JP', sans-serif ,Regualr 400;
  }
  .sbar2:hover{
    color:black;
    background-color: white;
  }
.sbar2{
  margin-top: 12px;
}