.text{
    font-size:30px;
    font-weight: 600;
    color:blueviolet;
  
}
.images{
    margin-top: -2%;
    height: 90%;
    width: 40%;
}
#name{
    color: black;
}
.text:hover{
    color:white;
}
@media screen and (max-width:600px){
    .images{ 
        width:80%;
     height:50%;}
 }