.serv{
    color: #9668b0;
    font-family: 'Permanent Marker', cursive;
}
.servlist{
    font-family: 'Playfair Display', serif;
    list-style: none;
    color:black;
    font-weight: 550;
    margin-left: -5px;
   
}
.servlist:hover{
    color:#9668b0;
    text-decoration: none;
}
