.serv{
    color: white;
    font-family: 'Permanent Marker', cursive;
}
.servlist{
    font-family: 'Playfair Display', serif;
    list-style: none;
    color: rgb(27, 25, 25);
    font-weight: 550;
    margin-left: -5px;
}
.servlist:hover{
    color:white
}