.View{
margin-top: 48px;
}
.viewAttri{
    font-size: 20px;
    font-family: 'Langar', cursive,Regular 400;
}
.viewtbl{
    margin-top: 75px;
    margin-left: -70px;
}
.attriValue{
    margin-left:-459px;
    font-family: 'Courgette', cursive;
}

.tbldata{
    font-size: 25px;
    padding: 60px;
    margin-left: 12px;
    color:#9668b0;
    font-family: 'Roboto', sans-serif;
}
.tbldata2{
    color:#7d7d7d;
    font-size: 16px;
    font-family: 'Dancing Script', cursive,Reguar 400;
    font-weight: 400;
}
.tbldata2:hover{
text-decoration:none;
color:#9668b0;
font-weight: 400;
font-size:18px ;
}