.admin{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #FF7B7B;
    font-family: 'Heebo', sans-serif;
  }
  #dropdown{
    text-align: center;
    margin-left: -90%;
  }
  .drop{
    font-size: 17px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 25%;
  }
 
  