.admin{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: #552c6c;
    font-family: 'Great Vibes', cursive;
  }
  #dropdown{
    text-align: center;
    margin-left: -90%;
  }
  .drop{
   
    font-family: 'Noto Sans JP', sans-serif;
    margin-left: 25%;
  }
  @media screen and (max-width:599px){
   .adminSelector{
    font-size: 10px;
   }
 }
 @media screen and (min-width:600px){
  .adminSelector{
  font-size: 17px;
  }
} 
  