.book{
  font-weight: 600;
  padding: 10px;
  margin-top: 40px;
  width: 400px;
  height: 430px;
  text-align: center;
 
  padding-top: 30px;
 
  font-weight: bold;
  background-color: #9668b0;
   
    border:12px solid #d8d8d8;
  padding-bottom: 30px;
  }
  .booktitle{
    margin-left: -7%;
    font-size: 50px;
    font-weight: bold;
    color: #552c6c;
    font-family: 'Great Vibes', cursive;
}
.btnbook{
  margin-top: 10%;

}
.tit{
  font-family: 'Permanent Marker', cursive;
}
@media screen and (max-width:600px){
  .book{
      margin-left: 50px;
      margin-right: 100px;
  }
}
@media screen and (min-width:600px){
  .book{
      margin-left: 500px;
     
  }
}