.Update{
    -ms-flow-into: 20px;
    font-weight: 400;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Great Vibes', cursive;
    color: #9668b0;
}

.tex{
  color: red;
}
.editData{
  border: 3px solid black;
 
}