.web{
    color: black;
    font-weight: 700;
    font-family: 'Heebo', sans-serif;
}
.copy{
    color: #9668b0;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.web:hover{
    text-decoration: none;
}