.servicelist {
  font-size: 15px;
  font-weight:600;
  list-style: none;
 text-align: centre;
 margin-left: 160px;
 border: 1px groove rgb(177, 172, 172);
 width: 250px;
 height: 40px;
 font-family: 'Satisfy', cursive;
 background-color: #9668b0;
 margin-top: 10px;
 text-decoration: none;
 color: black;
}
.deal{
    font-size: 30px;
    text-align:right;
    margin-right: 88px;
    font-family: 'Great Vibes', cursive;
    color: #552c6c;
}
.side{
  align-content: center;
}
li:hover{
  color: white;
  background-color:none;
}