.card{
    height:500px;
    width:400px;
    background-color:lightgreen;
    margin-top: 40px;
    
}
.cardimg1{
    height: 30%;
    width: 97%;
    text-align: center;
    margin-top: 20px;
}
.textArea{
    border: none;
    background-color:lightgreen;
    font-size: 26px;
    text-align: center;
}
.textArea:hover{
    border: dotted 2px gray;
}
.toolbar{
    height:30px;
    width:800px;
   
    background-color: gray;
}
.toolItems{
    display:inline;
    padding: 5px;
    
}