.tblHead{
    font-family: 'Permanent Marker', cursive;
    font-size: 17px;
}
.tbl-data{
    font-family: 'Langar', cursive;
}
/* @media screen and (max-width:599px){
    .tableResponse{
     font-size: 10px;
    }
  }
  @media screen and (min-width:600px){
   .adminSelector{
   font-size: 17px;
   }
 }  */