.Add-service{
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-right: 300px;
    text-align: justify;
}
.bton{
    margin-top: 10px;
    margin-left: 12px;
}
#eror{
    color: red;
}