.foot{
    background-color: #F9F7F1;
    margin-top: 30px;
    border-top-style: dotted;
    border-width: thick;
    padding: 15px;
    
  }
  .fcon{
      text-align: left;
  }
  .ser{
    text-align: center;
}
