.forgot{
    padding: 20px;
    margin-top: 30px;
    font-size: 20px;
}
.for{
    color: #552c6c;
    font-family: 'Great Vibes', cursive;
    font-weight: 700;
}
.forgo{
    border: 3px solid black;
}