.forgot-btn{
    text-align: center;
    font-weight: 600;
    color: black;
    font-family: 'Bebas Neue', cursive; 
    
     }
    .forgot-btn:hover{
        color:white;
    }
.warning{
    color: red;
    text-align: center;
    font-family: 'Acme', sans-serif;
}
.log{
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}