.chkbox{
    text-align: left;
}
.city{
    padding-right: 10px;
}
.warning{
    text-align: left;
    color: red;
    font-size: 20px;
}
.sign-up{
    width: 49%;
}
input.checker{
    width:20px;
    height:20px;
    border: 2px solid black;
}